


body{
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;     
  background-color: #f0f0f0;
}



.maindiv{
  padding: 20px;
  border: 2px solid green;
  background-color: #f0f0f0;
  margin: 3px;
  flex-direction: column;
}

#forminput{
  border-radius: 5px;
  text-align: center;
  
}

